[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-environ = "*"
requests = "*"
uwsgi = "==2.0.15"
whitenoise = "*"
psycogreen = "*"
pytz = "*"
"psycopg2-binary" = "*"
serpy = "*"
gevent = "*"
markdown = "*"
ecdsa = "*"
django-redis = "*"
raven = "*"
django-rest-framework = "*"
django-cors-headers = "*"
newrelic = "*"


[dev-packages]



[requires]

python_version = "3.6"
