django
django-cors-headers
django-environ
django-redis
django-rest-framework
ecdsa
flake8
flake8-debugger
flake8-import-order
flake8-quotes
gevent
markdown
newrelic 
psycogreen
psycopg2-binary
pytz
raven
requests
serpy
uwsgi==2.0.15
whitenoise
