black
bleach
django
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-redis
django-rest-framework
ecdsa
factory_boy
flake8
flake8-debugger
flake8-isort
flake8-quotes
ipython
isort
markdown==2.6.11
newrelic
psycogreen
psycopg2-binary
pytest
pytest-django
pytz
sentry-sdk
requests
responses
serpy
uwsgi
whitenoise==4.1.2
django-rest-knox
django-simple-history
