{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@deadlock_ark">
        <meta name="twitter:title" content="{{ seo.title }}">
        <meta name="twitter:description" content="{{ seo.description }}">
        {# <meta name="twitter:creator" content="@author_handle"> #}
        {# <-- Twitter Summary card images must be at least 120x120px --> #}
        {# <meta name="twitter:image" content="http://www.example.com/image.jpg"> #}

        <!-- Open Graph data -->
        <meta property="og:title" content="{{ seo.title }}" />
        <meta property="og:type" content="website" />
        {# <meta property="og:url" content="http://www.example.com/" /> #}
        {# <meta property="og:image" content="http://example.com/image.jpg" /> #}
        <meta property="og:description" content="{{ seo.description }}" />
        {# <meta property="og:site_name" content="ARKdelegates" /> #}

        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static 'app/css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/font-icons.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116691464-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-116691464-1', { 'anonymize_ip': true });
        </script>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        {% if logged_in_delegate %}
            <div class="delegate-navigation">
                <div class="delegate-navigation__left">
                    Hi {{ logged_in_delegate.name }}!
                </div>
                <div class="delegate-navigation__right">
                    <a href="{% url 'delegate' logged_in_delegate.slug %}">Edit account</a> |
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% endif %}
        <div class="header">
            <div class="grid-container delegates-list">
                <div class="grid-x grid-padding-x align-middle">
                    <div class="cell small-12">
                        <a href="/"><h1>ARK delegates</h1></a>
                        <h2>Discover and follow ARK delegates</h2>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div class="footer">
            <div class="grid-container">
                <div class="grid-x grid-padding-x align-middle">
                    <div class="cell small-12">
                        <a href="{% url 'login' %}">Login</a> | ARKdelegates v0.3
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'app/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'app/js/vendor/jquery-3.2.1.min.js' %}" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="{% static 'app/js/vendor/foundation.min.js' %}"></script>
        <script src="{% static 'app/js/plugins.js' %}"></script>
        <script src="{% static 'app/js/vendor/what-input.js' %}"></script>
        <script src="{% static 'app/js/main.js' %}"></script>
    </body>
</html>
