{% extends 'base.html' %}

{% load math %}
{% load humanize %}
{% load markdown %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-1">
                <div class="delegate-page__rank">
                    <div class="delegate-page__rank-nr">{{ delegate.rank }}</div>
                    <div class="delegate-page__rank-text">Rank</div>
                </div>
            </div>
            <div class="cell small-4 delegate-page__title">
                <h1>
                    {{ delegate.name }}
                    {% if delegate.user_id %}
                        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="This account has been claimed">
                            <i class="fas fa-certificate delegate-verified"></i>
                        </span>
                    {% endif %}
                </h1>
                {% if is_staff %}
                    <a href="{% url 'admin:app_delegate_change' delegate.id %}" class="delegate-page__edit">edit delegate</a>
                {% endif %}
            </div>
            <div class="cell small-3">
                <ul class="delegate-item__list">
                    <li class="delegate-item__list-item">
                        <i class="fas fa-user-secret"></i>
                        Is public delegate?
                        {% if delegate.is_private %}
                            <i class="fas fa-times text-red"></i>
                        {% else %}
                            <i class="fas fa-check text-green"></i>
                        {% endif %}
                    </li>
                    <li class="delegate-item__list-item">
                        <i class="fas fa-stopwatch"></i> Uptime: {{delegate.uptime}}%
                    </li>
                    <li class="delegate-item__list-item">
                        <i class="fas fa-percent"></i> Approval: {{delegate.approval}}%
                    </li>
                </ul>
            </div>
            <div class="cell small-3">
                <ul class="delegate-item__list">
                    <li class="delegate-item__list-item">
                        <i class="fas fa-users"></i>
                        Voters: {{delegate.voters}}
                        ({{ delegate.voters_not_zero_balance }} <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="This number excludes all voters with 0 ARK in their wallet"><i class="fas fa-info-circle"></i></span>)
                    </li>
                    <li class="delegate-item__list-item">
                        <i class="fas fa-bolt"></i> Voting power: {{delegate.voting_power|divide_by:"100000000"|floatformat:"1"|intcomma}}
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        {% if not delegate.user_id %}
            {% with True as show_claim_account %}
                {% include 'modules/message_notice.html' %}
            {% endwith %}
            <hr>
        {% endif %}

        <div class="grid-x grid-padding-x">
            <div class="cell small-8 delegate-page__proposal">
                {% if can_edit_delegate %}
                    <i class="far fa-edit delegate-edit"
                       data-toggle="proposal"
                       data-type="proposal"
                       data-action="edit"
                       style="float: right;"></i>
                {% endif %}
                {% if delegate.proposal %}
                    {{ delegate.proposal|markdown|safe }}
                {% else %}
                    <p>No proposal has been added for this delegate yet.</p>
                {% endif %}

                <hr>
                <h2>Contributions:</h2>
                {% if contributions %}
                    <ul>
                        {% for contribution in contributions %}
                            <li>
                                <b>
                                    {{ contribution.title }}
                                    {% if can_edit_delegate %}
                                        <i class="far fa-edit delegate-edit"
                                           data-toggle="editCreateContribution"
                                           data-type="contribution"
                                           data-action="edit"
                                           data-id="{{ contribution.id }}"></i>
                                        <i class="fas fa-trash-alt delegate-edit"
                                           data-toggle="deleteContribution"
                                           data-type="contribution"
                                           data-action="delete"
                                           data-id="{{ contribution.id }}"></i>
                                    {% endif %}
                                </b><br/>
                                {% if contribution.description %}
                                    <p>{{ contribution.description }}</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>We aren't able to find any contributions to ARK from this delegate.</p>
                {% endif %}
                {% if can_edit_delegate %}
                    <div class="delegate-edit"
                         data-toggle="editCreateContribution"
                         data-type="contribution"
                         data-action="create">
                        <i class="fas fa-plus-circle"></i> Add new contribution
                    </div>
                {% endif %}
            </div>
            <div class="cell small-4">
                {% if delegate.website %}
                    <h4>Other</h4>
                    <ul class="delegate-page__other">
                        <li>
                            WWW:
                            <a href="{{ delegate.website }}" target="_blank">{{ delegate.website }}</a>
                        </li>
                    </ul>
                {% endif %}
                <h4>Nodes</h4>
                <ul class="delegate-page__nodes">
                    {% if nodes %}
                        {% for node in nodes %}
                            <li class="delegate-page__node">
                                {% if can_edit_delegate %}
                                    <div class="delegate-page__node-edit">
                                        <i class="far fa-edit delegate-edit"
                                           data-toggle="editCreateNode"
                                           data-type="node"
                                           data-action="edit"
                                           data-id="{{ node.id }}"></i>
                                        <i class="fas fa-trash-alt delegate-edit"
                                           data-toggle="deleteNode"
                                           data-type="node"
                                           data-action="delete"
                                           data-id="{{ node.id }}"></i>
                                    </div>
                                {% endif %}
                                <div class="delegate-page__node-spec">
                                    CPU:
                                    {% if node.cpu %}
                                        {{ node.cpu }}
                                    {% else %}
                                        No data
                                    {% endif %}
                                </div>
                                <div class="delegate-page__node-spec">
                                    Memory:
                                    {% if node.memory %}
                                        {{ node.memory }}
                                    {% else %}
                                        No data
                                    {% endif %}
                                </div>
                                <div class="tag tag--{{ node.network }}">
                                    {{ node.network }}
                                </div>
                                {% if node.is_backup%}
                                    <div class="tag">
                                        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="This relay node is also used as a backup node if the forging node goes offline">
                                            backup
                                        </span>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <p>Couldn't not find any data about this delegate's nodes.</p>
                    {% endif %}
                </ul>
                {% if can_edit_delegate %}
                    <div class="delegate-edit"
                         data-toggle="editCreateNode"
                         data-type="node"
                         data-action="create">
                        <i class="fas fa-plus-circle"></i> Add new node
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if can_edit_delegate %}
        {# Modals yo #}

        <div class="reveal" id="proposal" data-reveal data-close-on-click="true">
            <h3>Your proposal</h3>
            <p>You can format your proposal using <a href="https://www.markdownguide.org/basic-syntax" target="blank">Markdown</a></p>
            <form action="/edit/proposal/" method="post" id="editProposalForm">
                {% csrf_token %}
                <ul class="form">
                    {{ proposalForm.as_ul }}
                </ul>
                <input type="submit" value="Save" />
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="editCreateContribution" data-reveal data-close-on-click="true">
            <h3>Edit/Create contribution </h3>
            <form action="/edit/contribution/" method="post" id="editCreateContributionForm">
                {% csrf_token %}
                <ul class="form">
                    {{ contributionForm.as_ul }}
                </ul>
                <input type="submit" value="Save" />
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="deleteContribution" data-reveal data-close-on-click="true">
            <h3>Delete contribution</h3>
            <p>Are you sure you want to delete this contribution? It will be lost forever.</p>
            <button type="button" class="alert button delete-no">No!</button>
            <button type="button" class="success button float-right delete-yes">Yes!</button>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="editCreateNode" data-reveal data-close-on-click="true">
            <h3>Edit/Create node</h3>
            <form action="/edit/node/" method="post" id="editCreateNodeForm">
                {% csrf_token %}
                <ul class="form">
                    {{ nodeForm.as_ul }}
                </ul>
                <input type="submit" value="Save" />
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="deleteNode" data-reveal data-close-on-click="true">
            <h3>Delete node</h3>
            <p>Are you sure you want to delete this node? It will be lost forever.</p>
            <button type="button" class="alert button delete-no">No!</button>
            <button type="button" class="success button float-right delete-yes">Yes!</button>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}
