{% extends 'base.html' %}

{% load math %}
{% load humanize %}

{% block content %}
    <div class="grid-container delegates-list">
        {% if search %}
            <p>Search results for: <b>{{search}}</b></p>
            <hr style="margin-top: 0em; border-color: #DDD;">
        {% endif %}

        {% for delegate in delegates %}
            {% if forloop.counter|divisibleby:"30" or forloop.counter == 2 %}
                {% include 'modules/message_notice.html' %}
            {% endif %}
            <div class="delegate-item
                        {% if forloop.counter|divisibleby:"30" or forloop.counter == 2 or forloop.counter == 52  %}delegate-item--border-top{%endif%}
                        grid-x grid-padding-x align-middle">
                {% if is_staff %}
                    <a href="{% url 'admin:app_delegate_change' delegate.id %}" class="delegate-item__edit">edit delegate</a>
                {% endif %}
                <div class="cell small-6 medium-2 delegate-item__name">
                    <span style="font-size: 1.1em">{{delegate.rank}}.</span>
                    <a href="{% url 'delegate' delegate.slug %}">{{delegate.name}}</a>
                    {% if delegate.user_id %}
                        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="This account has been claimed">
                            <i class="fas fa-certificate delegate-verified"></i>
                        </span>
                    {% endif %}
                </div>
                <div class="cell small-6 medium-2">
                    <ul class="delegate-item__list">
                        <li class="delegate-item__list-item text-center">
                            {% if delegate.rank_changed > 0 %}
                                <i class="fa fa-chevron-up green" aria-hidden="true"></i>
                            {% elif delegate.rank_changed < 0 %}
                                <i class="fa fa-chevron-down red" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            {% endif %}
                            <p>{{delegate.rank_changed}}</p>
                        </li>
                    </ul>
                </div>
                <div class="cell small-6 medium-3">
                    <ul class="delegate-item__list">
                        <li class="delegate-item__list-item">
                            <i class="fas fa-stopwatch"></i> Uptime:
                            {% if delegate.uptime %}
                                {{delegate.uptime}}%
                            {% else %}
                                Not forging
                            {% endif %}
                        </li>
                        <li class="delegate-item__list-item">
                            <i class="fas fa-users"></i> Voters: {{delegate.voters}}
                        </li>
                        <li class="delegate-item__list-item">
                            <i class="fas fa-bolt"></i> Voting power: {{delegate.voting_power|divide_by:"100000000"|floatformat:"1"|intcomma}}
                        </li>
                        <li class="delegate-item__list-item">
                            <i class="fas fa-percent"></i> Payout percent:
                            {% if delegate.payout_percent %}
                                {{delegate.payout_percent}}%
                                <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Make sure to check this delegates profile if there are any limitations for his/her payouts!"><i class="fas fa-info-circle"></i></span>
                            {% else %}
                                <i class="fas fa-question"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="cell small-6 medium-3">
                    <ul class="delegate-item__list">
                        <li class="delegate-item__list-item">
                            Has backup node?
                            {% if delegate.backup_nodes_count %}
                                <i class="fas fa-check text-green"></i>
                            {% else %}
                                <i class="fas fa-question"></i>
                                {# <i class="fas fa-times text-red"></i> #}
                            {% endif %}
                        </li>
                        <li class="delegate-item__list-item">
                            Running nodes:
                            {% if delegate.total_nodes_count %}
                                <b>{{ delegate.total_nodes_count }}</b>
                            {% else %}
                                <i class="fas fa-question"></i>
                            {% endif %}
                        </li>
                        <li class="delegate-item__list-item">
                            Contributes to ARK:
                            {% if delegate.contributions_count %}
                                <i class="fas fa-check text-green"></i>
                            {% else %}
                                <i class="fas fa-question"></i>
                            {% endif %}
                        </li>
                        <li class="delegate-item__list-item">
                            Is public delegate?
                            {% if delegate.is_private %}
                                <i class="fas fa-times text-red"></i>
                            {% else %}
                                <i class="fas fa-check text-green"></i>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="cell small-12 medium-2">
                    <ul class="delegate-item__list">
                        <li class="delegate-item__list-item text-center">
                            <a href="{% url 'delegate' delegate.slug %}">View Delegate</a>
                        </li>
                    </ul>
                </div>
            </div>

            {% if forloop.counter == 51 %}
                <div class="grid-x grid-padding-x align-middle">
                    <div class="cell small-12 non-forging-line">
                        <p>
                            Delegates bellow this line are not forging. Only the top 51 delegates
                            are able to forge blocks for the network.
                        </p>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>

    {% include 'modules/pagination.html' %}
{% endblock %}
