{% extends 'base.html' %}

{% load math %}
{% load humanize %}
{% load markdown %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell small-12 medium-8 medium-offset-2 text-center status-update">
                <h2>Status update from {{ delegate.name }}</h2>
                <div class="status-update__datetime">{{ update.created|date:"d. M. Y @ H:i" }}</div>
                {% if can_edit_delegate %}
                    <i class="far fa-edit delegate-edit"
                       data-toggle="editCreateUpdate"
                       data-type="update"
                       data-action="edit"
                       data-id="{{ update.id }}"></i>
                    <i class="fas fa-trash-alt delegate-edit"
                       data-toggle="deleteUpdate"
                       data-type="update"
                       data-action="delete"
                       data-id="{{ update.id }}"></i>
                {% endif %}
                <div class="status-update__message">
                    {{ update.message|markdown|limit_markdown|safe }}
                </div>
                <a href="{% url 'delegate' delegate.slug %}">Go to {{delegate.name}}'s page</a>
            </div>
        </div>
    </div>

    {% if can_edit_delegate %}
        <div class="reveal" id="editCreateUpdate" data-reveal data-close-on-click="true">
            <h3>Edit/Create status update</h3>
            <form action="/edit/update/" method="post" id="editCreateUpdateForm">
                {% csrf_token %}
                <ul class="form">
                    {{ updateForm.as_ul }}
                </ul>
                <input type="submit" value="Save" />
            </form>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="deleteUpdate" data-reveal data-close-on-click="true">
            <h3>Delete status update</h3>
            <p>Are you sure you want to delete this status update? It will be lost forever.</p>
            <button type="button" class="alert button delete-no">No!</button>
            <button type="button" class="success button float-right delete-yes">Yes!</button>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}
