{% extends 'base.html' %}

{% block content %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 large-8 large-offset-2">
                <h3 class="text-center">Hello there delegate, please login</h3>
                <p class="text-center">
                    You can login only if you have claimed your account. If you haven't yet claimed
                    it, please visit your dedicated delegate page and follow the instructions.
                </p>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 large-6 large-offset-3">
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}
