// Foundation
@import 'util/util';
@import 'foundation-settings';  // imported from my local dir
@import 'foundation';

@include foundation-everything;

// Other
@import 'font-icons';

body {
    background: #f5f6fa;
}

.header {
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1em;
    background: #ef192d;

    h1 {
        width: 100%;
        font-size: 1.6em;
        color: #fff;
    }

    h2 {
        width: 100%;
        font-size: 0.9em;
        color: #fff;
    }
}


.delegate-item {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 0.7em 0;

    &:hover {
        background: #edeef3;
    }

    &--border-top {
        border-top: 1px solid #ddd;
    }

    &__name {
        margin-bottom: 0.5em;
        @media screen and (min-width: 640px) {
            margin-bottom: 0
        }
    }

    &__name .has-tip {
        display: inline;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 0.85em;
    }

    &__list-item {
        padding: 0.2em 0;
    }

    &__edit {
        font-size: 0.8em;
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ef192d;
    }
}

.pagination {
    margin: 2em auto;
}
.pagination .current {
    background: #ef1a2e;
}
.page__title {
    font-size: 2em;
}


.non-forging-line {
    margin: 1em 0;
}
.non-forging-line p {
    font-size: 0.9em;
    text-align: center;
    margin: 0.85em 0;
    color: #adb1c7;
}

.delegate-verified {
    font-size: 9px;
    position: absolute;
    top: 0;
    color: #ef1a2e;
    left: 4px;
}

.tag {
    padding: 0.3em 0.5em;
    display: table;
    border: 1px solid #DDD;
    border-radius: 5px;
    float: left;
}
.tag--mainnet {
    color: #FFF;
    background: #ef1a2e;
    border: 0;
}
.tag--devnet {
    color: #FFF;
    background: #172130;
    border: 0;
}


.has-tip {
    border-bottom: 0;
}

.delegate-navigation {
    width: 100%;
    display: table;
    background: #333;
    color: #fff;
    padding: 0.3em 1em;
}
.delegate-navigation a {
    color: #fff;
}
.delegate-navigation__left {
    float: left;
    text-align: left;
}
.delegate-navigation__right {
    float: right;
    text-align: right;
}
.delegate-edit {
    cursor: pointer;
}

.claim-acount__pincode {
    padding: 0.7em;
    width: 220px;
    margin: auto;
    background: #FFF;
    border: 1px solid #cacaca;
    text-align: center;
    margin-bottom: 0.7em;
}
.claim-acount__pincode-guide {
    margin-bottom: 1em;
}
.claim-acount__pincode-guide p {
    font-size: 0.75em;
    margin-bottom: 0.7em;
    color: #0a0a0a;
    text-align: center;
}

.updates__datetime {
    width: 100%;
    font-size: 0.85em;
    color: #9c9c9c;
}
.updates__status p {
    font-size: 1.1em;
}

.text-center {
    text-align: center;
}

.error-msg {
    color: #C30;
    margin-bottom: 0.7em;
    position: relative;
    top: -0.7em;
}

.footer {
    margin-top: 1.5em;
    background: #333;
    width: 100%;
    padding: 1em 0;
    text-align: right;
    color: #FFF;
    font-size: 0.75em;
}
.footer a {
    color: #FFF;

}

ul.form {
    list-style: none;
    margin: 0;
    padding: 0;
}

div:focus {outline:0;}
button:focus {outline:0;}
i:focus {outline:0;}


// Pages
@import 'pages/homepage';
@import 'pages/delegate';
@import 'pages/faq';


// Modules
@import 'modules/message';
@import 'modules/status-update';


// Other
.search {
    margin: 1em 0 0 0;
    padding: 0;

    @media print, screen and (min-width: 40em) {
        margin: 0;
        padding: 0;
    }

    &__wrapper {
        margin: 0;
        padding: 0;
    }

    &__input {
        margin: 0;
    }
}

.rank-changer {
    display: inline-block;
    position: relative;
    width: 12px;
    font-size: 0.8em;

    &__up {
        position: absolute;
        top: -16px;
        color: #e0e0e0;
    }

    &__down {
        position: absolute;
        top: -4px;
        color: #e0e0e0;
    }

    &__extra {
        position: absolute;
        bottom: -7px;
        width: 12px;
        height: 22px;
        z-index: 9;
    }
}


.text-red {
    color: #ef192d;
}
.text-green {
    color: #46b02e;
}


.new-delegate {
    width: 100%;
    font-size: 0.85em;
    padding: 0.3em 0;
    border-bottom: 1px solid #ddd;

    &:hover {
        background: #edeef3;
    }

    &__name {
        position: relative;
        top: -2px;
    }

    &__name-name {
        max-width: 67px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        display: inline-block;
        position: relative;
        top: 4px;

        @media screen and (max-width: 639px) {
            max-width: initial;
        }

        @media screen and (min-width: 735px) and (max-width: 915px) {
            max-width: 90px;
        }

        @media screen and (min-width: 916px) {
            max-width: initial
        }
    }

    &__item {
        font-size: 0.85em;
        text-align: center;
    }
}
